<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>

<body>
    <div class="app_container">
        <div id="app">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div>
                        ​<img src="./images/bicycle.png" style="width: 100px; height: 100px;">
                        <span class="text-primary" style="font-size: 30px; font-weight: bold;">Biky</span>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item" v-on:click="ShowHomePage">
                            <a class="nav-link" aria-current="page" href="#">Product</a>
                            </li>
                            <li class="nav-item" v-on:click="ShowMyCart">
                                <a class="nav-link" href="#">Cart ({{countitem}})</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Contact us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Address</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Profile</a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>
            <!-- Product Page-->
            <div class="py-0"  v-if="product_page">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2" style="background-color:cornflowerblue">
                            <br>
                            <h2 style="color: darkblue;"> Catagory </h2>
                            
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Bicycle</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Spare</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Helmet</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4">Other</label>
                            </div>
                            <br>
                            <h2 style="color: darkblue;"> Price </h2>
                            
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                <label class="custom-control-label" for="customCheck5"> <1000 </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck6">
                                <label class="custom-control-label" for="customCheck6"> 1000-2500 </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck7">
                                <label class="custom-control-label" for="customCheck7">2500-7000</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck8">
                                <label class="custom-control-label" for="customCheck8"> >7000 </label>
                            </div>
                            <br>
                        </div>
                        <div class="col-md-10" style="background-color:skyblue">
                            <br>
                                <div class="col-md-10" style = "background-color: skyblue; margin-left: 50px;">
                                    <div class="row equal row-cols-1 row-cols-sm-2 row-cols-xl-2">
                                        <Product v-on:add-item="addItem" v-for="product in products" :product="product" :key="product.id" />
                                    </div>
                                </div>
                            
                        </div>

                    </div>
                </div>
            </div>
            <!-- Cart Page-->
            <div class="py-5"  v-if="cart_page">
                <div class="container">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6" style="background-color:darkcyan">
                                    <br>
                                        <h2 class="text-danger " href="#" style="text-align: center;"> The products in your cart </h2>
                                    <br>
                                    <CartItem v-on:remove-item="removeItem" v-for="item in cart" :item="item" :key="item.id" />
                                </div>
                                <div class="col-md-6" >
                                    <div class="col-md-12" style = "border: 1px solid black; background-color: skyblue;">
                                        <div class="card-body d-flex flex-column align-items-start">
                                            <h2 class="mb-2 text-danger rounded mx-auto d-block" style=" text-align: center;">Confirming order</h2>
                                            <br>
                                            <h4 class="mb-2 text-danger">
                                                Total price: {{totalprice}} THB
                                            </h4>
                                            <a href="#" class="btn btn-secondary my-2 rounded mx-auto d-block" >comfirm</a>
                                        </div>
                                    </div>
                                    <br>
                                    <h2 class="text-danger" style="text-align: center;"> Recommend </h2>
                                    <br>
                                    <div class="col-md-8" style = "border: 1px solid black; background-color: white; margin-left: 100px;">
                                    
                                        <div class="card-body d-flex flex-column align-items-start ">
                                            <h2 class="mb-2 text-primary ">
                                                Bicycle 3
                                             </h2>
                                            <img class="rounded mx-auto d-block" src="./images/biky3.jpg" style="width: 300px; height: 250px;">
                                            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                            <h4 class="mb-2 text-danger">
                                               7599 THB
                                            </h4>
                                            <a href="#" class="btn btn-primary my-2">Click for more details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>

    <template id="product-template">
        <div class="col mb-4 d-flex">
            <div class="card">
                <div class="card-body">
                    <h2 class="mb-2 text-primary">{{product.name}}</h2>
                
                <img :src="product.url" class="rounded mx-auto d-block" alt="..." style="width: 300px; height: 250px;">
                <h4 class="mb-2 text-danger">
                    {{product.price}} THB
                    <br/>
                 </h4>
                <p class="card-text">
                    
                    {{product.shortdesc}}
                    
                </p>
                <button @click="addToCart()" class="btn btn-primary btn-block">Add</button>
                </div>
            </div>
        </div>
    </template>

    <template id="cartitem-template">
        <div class="col-md-12" style = "border: 1px solid black; background-color: white">
                            
            <div class="card-body d-flex flex-column align-items-start">
                <h2 class="mb-2 text-primary">
                    {{item.name}}
                 </h2>
                <img class="rounded mx-auto d-block" :src="item.url" style="width: 300px; height: 250px;">
                <h4 class="mb-2 text-danger">
                    {{item.price}} THB
                </h4>
                <h4 style="color: blue;"> Quanlity: {{item.count}}</h4>
                <button @click="removeToCart()" class="btn btn-danger btn-block">Remove</button>
                
                
                
                
            </div>
            
        </div>
        <br>
        
    </template>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <!-- <script src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let app = Vue.createApp({

            data: function() {
                return {
                    
                    product_page: true,
                    cart_page: false,

                    products: [{
                        id: 1,
                        name: "Bicycle 2",
                        url: "images/biky2.jpg",
                        price: 6899,
                        shortdesc: "This is a wider card with supporting text below as a natural lead-in to additional content."
                        
                    }, {
                        id: 2,
                        name: "Helmet 1",
                        price: 600,
                        shortdesc: "This is a wider card with supporting text below as a natural lead-in to additional content.",
                        url: "images/helmet1.jpg"
                    }, {
                        id: 3,
                        name: "Bicycle Wheel 1",
                        price: 2000,
                        shortdesc: "This is a wider card with supporting text below as a natural lead-in to additional content.",
                        url: "images/wheel1.jpg"
                    }, {
                        id: 4,
                        name: "Sunglasses 1",
                        price: 350,
                        shortdesc: "This is a wider card with supporting text below as a natural lead-in to additional content.",
                        url: "images/glass1.jpg"
                    }],

                    cart: []
                }
            },

            mounted: function() {

            },

            methods: {
                addItem: function(id) {
                    console.log(this.products)
                    console.log(id)
                    
                    //Check if this product already in the cart
                    item = this.cart.find(product => product.id == id)

                    if (item) { // if this product already in the cart
                        item.count += 1
                    } else {
                        item = this.products.find(product => product.id == id)
                        this.cart.push({
                            id: item.id,
                            name: item.name,
                            price: item.price,
                            url: item.url,
                            count: 1
                        })
                    }
                    console.log(this.cart)
                },
                removeItem: function(id){
                    
                    item = this.cart.find(product => product.id == id)
                    for (i in this.cart) {
                        if (this.cart[i].id == item.id){
                            this.cart.splice(i,1)
                        }
                       
                    }
                    
                
                },
                ShowMyCart: function() {
                    this.cart_page = true
                    this.product_page = false
                },

                ShowHomePage: function() {
                    this.product_page = true
                    this.cart_page = false
                }
            },

            computed: {
                countitem: function() {
                    var total = 0
                    for (i in this.cart) {
                        total += this.cart[i].count
                    }
                    return total
                },
                
                totalprice: function(){
                    var total = 0
                    for (i in this.cart){
                        total += this.cart[i].count * this.cart[i].price
                    }
                    return total
                }
            }

        })

        app.component('Product', {
            data: function() {
                return {}
            },
            props: ['product'],
            template: "#product-template",

            methods: {
                addToCart: function() {
                    this.$emit("add-item", this.product.id)
                }
                

            },
        });

        app.component('Cartitem', {
            data: function() {
                return {}
            },
            props: ['item'],
            template: '#cartitem-template',

            methods: {
                removeToCart: function() {
                    this.$emit("remove-item", this.item.id)
                }
                

            },
        });

        app.mount("#app")
    </script>


</body>

</html>